@using Simba.Businness.Models
@model AddComunicazione

@{
    ViewBag.Title = "NuovaComunicazione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuova Comunicazione</h2>

@using (Html.BeginForm("NuovaComunicazione", "Comunicazioni", FormMethod.Post))
{

    using (Html.DevExtreme().ValidationGroup())
    {
        @(Html.DevExtreme().TextBoxFor(m=>m.Oid).ReadOnly(true))
        <div id="form-demo">
            <div class="widget-container">
                <div>Nuovo ticket:</div>
                <div>
                    <div>
                        <div>Numero</div><div>@(Html.DevExtreme().TextBoxFor(m=>m.Number).ReadOnly(true))</div>
                    </div>
                    <div>
                        <div>Owner</div><div>@(Html.DevExtreme().TextBoxFor(m=>m.Owner).ReadOnly(true))</div>
                    </div>
                    <div>
                        <div>Codice</div><div>@(Html.DevExtreme().TextBoxFor(m=>m.Codice).ReadOnly(true))</div>
                    </div>
                    <div>
                        <div>Titolo</div><div>@(Html.DevExtreme().TextBoxFor(m=>m.Titolo))</div>

                    </div>
                    <div>
                        <div>Descrizione</div><div>@(Html.DevExtreme().TextAreaFor(m => m.Descrizione))</div>

                    </div>

                    <div>
                        <div>Documenti e immagini</div><div>
                            @(Html.DevExtreme()
                            .FileUploader()
                            .Multiple(true)
                            .UploadMode(FileUploadMode.Instantly)
                            .AllowCanceling(true).Name("Files")
                            .UploadUrl(Url.Action("Upload", "Comunicazioni"))
                            )
                        </div>
                    </div>
                    <div>
                        <div>Note</div><div>@(Html.DevExtreme().TextAreaFor(m => m.Note))</div>

                    </div>
                </div>
            </div>
        </div>



        @(Html.DevExtreme().ValidationSummary()
            .ID("summary")
        )

        @(Html.DevExtreme().Button()
            .ID("button")
            .Text("Salva")
            .Type(ButtonType.Success)
            .UseSubmitBehavior(true)
        )

        <script type="text/javascript">

            function onValueCondominioChanged(e) {
                let comboEdifici = $("#comboEdifici").dxSelectBox("instance");
                let dataSource = comboEdifici.getDataSource();
                dataSource.filter("Oid", "=", e.value);
                dataSource.load();
                comboEdifici.option("value", null);
            }


            function onValueEdificiChanged(e) {
                let comboLocali = $("#comboLocali").dxSelectBox("instance");
                let dataSource = comboLocali.getDataSource();
                dataSource.filter("Oid", "=", e.value);
                dataSource.load();
                comboLocali.option("value", 0);
            }

        </script>
    }
}



